# infra/docker-compose.yml
version: "3.8"

services:
  minio:
    image: minio/minio:RELEASE.2024-09-13T20-00-00Z
    container_name: minio
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks: [data-net]

  mc:
    image: minio/mc:RELEASE.2024-09-13T20-07-19Z
    container_name: minio-mc
    depends_on: [minio]
    entrypoint: ["/bin/sh", "/init.sh"]
    volumes:
      - ./minio/init.sh:/init.sh
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    networks: [data-net]

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks: [data-net]

  airflow:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: airflow
    depends_on: [postgres, minio]
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: "fernetfernetfernetfernetfernetfernetfernet="
      AIRFLOW__WEBSERVER__RBAC: "True"
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ../src:/opt/project/src
      - ../datasets:/opt/project/datasets
    ports:
      - "8080:8080"
    command: bash -c "airflow db init && airflow users create -u admin -p admin -r Admin -e admin@example.com -f Admin -l User || true && airflow webserver & sleep 5 && airflow scheduler"
    networks: [data-net]

  spark:
    image: bitnami/spark:3.5.1
    container_name: spark
    environment:
      SPARK_MODE: master
      SPARK_MASTER_URL: spark://spark:7077
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    volumes:
      - ../src:/opt/project/src
      - ../infra/spark/spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf
    ports:
      - "7077:7077"
      - "8081:8081"
    networks: [data-net]

  metabase:
    image: metabase/metabase:v0.49.10
    container_name: metabase
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: airflow
      MB_DB_PASS: airflow
      MB_DB_HOST: postgres
    depends_on: [postgres]
    ports:
      - "3000:3000"
    networks: [data-net]

volumes:
  minio-data:
  pg-data:

networks:
  data-net:
    driver: bridge
